
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* .content{
  height: 100vh;
  overflow: auto;
} */

/* .textfield_label{
  color: aliceblue !important;

} */

  .middle-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.button {
  background-color: #2499ee;
  padding: 10px;
  color: white;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
}

@keyframes blinkAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.radio-blink {
  animation: blinkAnimation 1s;
}


.input-field::placeholder {
  color: #2f4365; /* Set the desired color for the placeholder text */
}

.button1{
  background-color: #27ce88;
  padding: 10px;
  color: white;
  /* width: 25%; */
  font-size: 12px;
  border: solid 1px #3d454e;
  outline: none; 
  border-radius: 10px;
  cursor: pointer;
}

.button2{
  background-color:#222b36;
  padding: 10px;
  color: white;
  /* width: 25%; */
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px #3d454e;
  outline: none;
}

.checkOut {
  margin-top: 20px;
}


.bgColor11{
  color: #dc2445;
}

.product-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 2em;
}

.product-title{
  background-color: #27ce88;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  
}

.product-name{
  font-size: 15px;
}

.product-box1{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;
}

.product-details{
  display: flex;
  flex-direction: column;
  -webkit-column-gap: normal;
}

.product-details1{
 flex: 2;
}

.color21{
  color: #4c5b6a;
  font-weight: bold;
}

.color22{
  color: #4c5b6a;
  font-size: 10px;
  font-weight: bold;
}

.product-image {
  width: 60px;
  height: 60px;
}

.small{
  font-size: 10px;
  text-align: left;
}

.button4{
  background-color:#222b36;
  padding: 10px;
  width: 100px;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px #3d454e;
  outline: none;
}

.button3{
  background-color: #2499ef;
  padding: 10px;
  color: white;
  width: 100px;
  /* width: 25%; */
  font-size: 12px;
  border: solid 1px #3d454e;
  outline: none; 
  border-radius: 10px;
  cursor: pointer;
}


.bgColor {
  background-color: #333c46;
  border-radius: 1px;
  color: #2499ee;
  cursor: pointer;
  border: solid 1px #3d454e;
  outline: none; 
  border-radius: 5px;
}

.bgColor25 {
  background-color: #222b36;
  border-radius: 1px;
  color: white;
  cursor: pointer;
  border: solid 1px #3d454e;
  outline: none; 
  width: 150%;
  height: 60%;
  font-size: 20px;
  border-radius: 5px;
}

.icon:hover {
  cursor: pointer;
  background-color: #3d454e;
  border-radius: 50%;
  padding: 20px;
}

.bgColor1{
  color:  #1f2a40;
}

.bgColor2 {
  color: #283b82;
  font-style: italic;
  font-size: 20px;
}

.bgColor3 {
  color: #469bdb;
  font-style: italic;
  font-size: 20px;
}

.bgColor4 {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
 vertical-align: middle;
  color: #2499ee;
}


.bgcolor5 {
  background-color: #27ce88;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.bgcolor6 {
  background-color: #2499ef;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.bgcolor6:hover{
  background: #0c5d96;
}

.buttonC {
  background-color: #424242;
  /* border: none; */
  color: white;
  padding: 5px;
  display: flex;
  width: 100%;
  border-radius: 5px;
  border:solid 1px #656b73;
}

.bgColor7 {
  color: #283b82;
  font-style: italic;
  font-size: 15px;
}


.bgColor8 {
  color: #469bdb;
  font-style: italic;
  font-size: 15px;
}

.bgColor9{
  color: white;
  font-size: 15px;
}

.bgColorR{
  color: #ff316f; 
}


.button5{
  background-color: #2499ef;
  padding: 10px;
  color: white;
  width: 100%;
  font-size: 12px;
  border: solid 1px #3d454e;
  outline: none; 
  border-radius: 10px;
  cursor: pointer;
}

.social-icon {
  height: 40px;
  width: 40px;
  display: block;
  text-align: center;
  border-radius: 50%;
}

.social-icon:hover {
  background-color: #3d454e;
  cursor: pointer; 
}

.social-icon span  {
  font-size: 25px;
  color: #455a79;
  line-height: 40px;
}


.delete-icon {
  height: 40px;
  width: 40px;
  display: block;
  text-align: center;
  border-radius: 50%;
}

.tick-icon {
  height: 20px;
  width: 20px;
  display: block;
  background-color: #2499ef;
  text-align: center;
  border-radius: 50%;
  /* font-size: 5px; */
  cursor: pointer;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 0px;
  /* height: 100vh; */
}

.circle {
  /* width: 200px;
  height: 200px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  border: 2px solid white;
}

.circle-left {
  margin-right: auto;
}

.circle-right {
  margin-left: -20px;
  background-color: yellow;
}


.billClick{
  background-color: #171c24;
  border: solid 1px red;
}


.delete-icon:hover {
  background-color: gray;
  cursor: pointer; 
}

.delete-icon span  {
  font-size: 25px;
  color: #455a79;
  line-height: 40px;
}


.product-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#222b36;
  margin: 20px;
  border-radius: 10px;
  
  padding: 10px;
  /* Additional styling properties */
}

.product-image1 {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.shoe-image {
  width: 70px; /* Set the desired width */
  height: auto; /* Adjust the height proportionally */
}

.image-container {
  position: relative;
  display: inline-block;
}

.shoe-image1 {
  width: 400px;
  height: auto;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
  padding: 5px;
  background-color: #728299;
 
  border-radius: 50%;
}





.Radio-input[type="radio"]:checked {
  /* This will change the color of the radio button when it's selected */
  background-color: blue;
}

.my-radio input[type="radio"]:checked {
  /* This will change the color of the radio button when it's selected */
  background-color: red;
}

.bgColor10 {
 color: #455a79;
  cursor: pointer;
}

.color{
  color: #455a79;
}


.checkOut{
margin-left: 20px;
}



.image1{
  text-align: center;
  margin-top: 20px;
}

.bordertop{
  border-top: solid 0.2px #3d454e;
 
}

.borderbottom{
  border-bottom: solid 0.08px #3d454e;;
  width: 40%;
margin-left: 30%;  
  margin-top: -2px;
  margin-bottom: -5px;
  text-align: center;
}

.image{
  margin-top: 10px;
  margin-right: 10px;
}

.image2{
  /* width: 100%; */
  
}

.space{
  padding-left: 20px;
}

.space1{
  padding-left: 10px;
}

.space2{
  padding-left: 50%;
}

.app {
  display: flex;
  position: relative;
}

.bgcolorW{
  color: #fff;
  
}

.radio-root .MuiIconButton-root {
  padding: 0;
  color: transparent;
}

.radio-checked .MuiIconButton-root {
  color: transparent;
}

.circle {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #fe316f;
  border-radius: 50%;
}

.circle1 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #fe8969;
  border-radius: 50%;
}

.circle2 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #8c8dff;
  border-radius: 50%;
}

.circle3 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #2499ef;
  border-radius: 50%;
}

.circle4 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #27ce88;
  border-radius: 50%;
}


.text {
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}






